<div class="container-xl">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
            <img class="w-100" src="http://asgard-design.com/files/2017/12/Aeroflot_1920_Site_2_03.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                Аэрофлот — Российские авиалинии — российская государственно-частная авиакомпания, образованная из одного из государственных социалистических предприятий советского Аэрофлота, осуществлявшего полёты и коммерческую деятельность на международных воздушных линиях, и которая впоследствии стала владеть правами на одноимённую торговую марку. Является национальным авиаперевозчиком в России.
                Полное наименование — публичное акционерное общество «Аэрофлот — Российские авиалинии»; сокращённое — ПАО «Аэрофлот».
                Выполняет внутренние и международные рейсы из московского аэропорта Шереметьево и аэропорта Красноярск.
                С апреля 2006 года «Аэрофлот» является полноправным членом авиационного альянса «SkyTeam». Также «Аэрофлот» вместе со своими дочерними авиакомпаниями «Россия», «Победа» образует авиационный холдинг Группа «Аэрофлот», который входит в ТОП-20 авиаперевозчиков мира по пассажиропотоку.
            </p>
        </div>
    </div>
</div>