<div class="container-xl">
</div>
<div class="container-xl">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active sm-12 md-12">
                <div class="row">
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col">
                        <a href="/one" style="text-decoration: none; color: black;">
                            <div class="card" style="width: 18rem;">
                                <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">ПАО Лукойл</h5>
                                    <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>