<footer class="bg-dark text-center text-white">
    <link rel="stylesheet" href="/partials/styles/font-awesome/css/font-awesome.min.css">
    <!-- Grid container -->
    <div class="container pb-0">
        <!-- Section: Social media -->

            <!-- Instagram -->
            <a class="btn btn-dark btn-floating m-1" href="https://www.instagram.com/petr_vf/" role="button">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            <!-- Vk -->
            <a class="btn btn-dark btn-floating m-1" href="https://vk.com/tprvx" role="button">
            	<i class="fa fa-vk" aria-hidden="true"></i>
            </a>
            <!-- Github -->
            <a class="btn btn-dark btn-floating m-1" href="https://github.com/tprvx" role="button">
            	<i class="fa fa-github" aria-hidden="true"></i>
            </a>
		<!-- Section: Social media -->
	</div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright: 
        <a class="text-white text-decoration-none" href="/">tpmoney.ru</a>
    </div>
    <!-- Copyright -->
</footer>