<div class="container-xl">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
            <img class="w-100" src="https://static.tildacdn.com/tild6130-3933-4363-a430-393464393366/eNORNICKEL.jpg" alt="">
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                ПАО «Норникель» (до 2016 года бренд «Нори́льский ни́кель») — российская горно-металлургическая компания. В настоящее время «Норникель» объединяет группу предприятий, возглавляемую Публичным акционерным обществом "Горно-металлургическая компания «Норильский никель» (ПАО «ГМК „Норильский никель“»). Ранее основная часть современного «Норильского никеля» была известна как «Норильский горно-металлургический комбинат имени А. П. Завенягина» (НГМК).

                Штаб-квартира компании расположена в Москве-Сити, в небоскрёбе Меркурий-сити-тауэр. До октября 2014 года располагалась на Большой Татарской улице.
            </p>
        </div>
    </div>
</div>