<div class="container-xl">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 50px;">
                <a href="/lukoil" style="text-decoration: none; color: black;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://greenrays.ru/images/partners/lukoil-NK_rus.jpg" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ПАО «Лукойл»</h5>
                            <p class="card-text">Российская нефтяная компания. Наименование компании происходит от первых букв названий городов нефтяников</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 50px;">
                <a href="/nornikel" style="text-decoration: none; color: black;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://static.tildacdn.com/tild6130-3933-4363-a430-393464393366/eNORNICKEL.jpg" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">ПАО «Норникель»</h5>
                            <p class="card-text">Российская горно-металлургическая компания. В настоящее время «Норникель» объединяет группу предприятий</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 50px;">
                <a href="/aeroflot" style="text-decoration: none; color: black;">
                    <div class="card" style="width: 18rem;">
                        <img src="http://asgard-design.com/files/2017/12/Aeroflot_1920_Site_2_03.jpg" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">«Аэрофлот» — Российские авиалинии</h5>
                            <p class="card-text"> Российская государственно-частная авиакомпания, образованная из одного из государственных социалистических предприятий советского Аэрофлота</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>