<div class="container-xl">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 50px;">
                <a href="#" style="text-decoration: none; color: black;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.pngitem.com/pimgs/m/108-1082815_logo-bitcoin-hd-png-download.png" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Биткойн</h5>
                            <p class="card-text">Пиринговая платёжная система, использующая одноимённую единицу для учёта операций</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 50px;">
                <a href="#" style="text-decoration: none; color: black;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://bullishcryptoapparel.com/wp-content/uploads/2019/03/ethereum-logo.jpg" class="card-img-top w-100" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Ethereum</h5>
                            <p class="card-text">Криптовалюта и платформа для создания децентрализованных онлайн-сервисов на базе блокчейна (децентрализованных приложений), работающих на базе умных контрактов</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12" style="padding-bottom: 50px;">
                <a href="#00" style="text-decoration: none; color: black;">
                    <div class="card" style="width: 18rem;">
                        <img src="https://www.kindpng.com/picc/m/356-3562523_litecoin-logo-transparent-background-hd-png-download.png" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Litecoin</h5>
                            <p class="card-text">Форк Bitcoin, пиринговая электронная платёжная система, использующая одноимённую криптовалюту</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>