<div class="container-xl">
    <div class="row align-items-center">
        <div class="col-sm-12 col-md-6">
            <h1>Блог об инвестициях</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <img class="w-100" src="/partials/styles/img/Logo_tp3.jpg" alt="">
        </div>
    </div>
</div>